<!DOCTYPE html>
<html>
  <head>
    <title>Myrecipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><%#Enables responsive design to work on mobile devices (phones/tablets).%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %><%#This line renders the _navigation partial.%>
    <%= render 'layouts/messages' %><%#This line renders a partial for the flash message display code.%>
    <%#Flash message code was originally here.%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
